<div class="container">
  <h2 class="ui center aligned icon header">
    <i class="circular sun icon"></i>
    My Weather
  </h2>
  <div class="ui form">
    <form [formGroup]="forcastForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <input type="text" class="ui input inverted" placeholder="Search your city..." formControlName="forecastCity">
      </div>
      <button type="submit" class="ui button fluid secondary">Submit</button>
    </form>
    <button type="submit" class="ui button fluid secondary" (click)="clearAll()">Clear</button>

    <h4 class="ui horizontal divider header">
      <i class="star icon"></i>
      Get Five Days Forecast {{myCity | uppercase}}
    </h4>

    <div class="ui five cards">
      <div
        class="center"
        *ngFor="let d of weatherFiveDays"
        [class.selected]="d === selectedDate"
        (click)="onSelect(d)"

      >
        <div class="card fiveday">
          <div class="image">
            <img class="right floated mini ui image"
                 src="http://openweathermap.org/img/wn/{{d.weather[0].icon}}@2x.png">
          </div>
          <div class="extra">
            {{d.dt_txt | date }} 's weather
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="errorMsg">
      <h2>Oops....Something's wrong. Please try again</h2>
    </div>
    <h4 class="ui horizontal divider header">
      <i class="moon icon"></i>
       Weather Details
    </h4>

    <div>
      <div *ngIf="selectedDate" class="parent">
        <div class="left floated">
          <h4>{{selectedDate.dt_txt | date}} 's Weather </h4>
          <h4>{{selectedDate.weather[0].description}}</h4>
          <img src="http://openweathermap.org/img/wn/{{selectedDate.weather[0].icon}}@2x.png" alt="">
        </div>
        <div class="right floated">
          <h4>Average Temp: {{selectedDate.main.temp}} °C </h4>
          <h4>Min: {{selectedDate.main.temp_min}} °C -- Max: {{selectedDate.main.temp_max}} °C </h4>
          <h4>Humidity: {{selectedDate.main.humidity}} %</h4>
          <h4>Feels Like: {{selectedDate.main.feels_like }} °C </h4>
        </div>
      </div>
    </div>
  </div>
</div>
